node_modules/
.env
coverage/
coverage.json
typechain/
typechain-types/

# Hardhat files
cache/
artifacts/

# Frontend
frontend/build
frontend/dist
frontend/.env.local
frontend/node_modules

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
